extends ../base.pug

block contents
    if errorMessage
        span.errMessage=errorMessage
    div.editProfile    
        form(method="POST")
            label 아이디
                input(value=`${loggedInUser.username}`, placeholder="5자 ~ 15자 영문, 숫자*", name="username", type="text", required, minlength="5", maxlength="15", readonly)
                span
            label 이름
                input(value=`${loggedInUser.name}`, placeholder="ex)홍길동", name="name", type="text", required, minlength="2", maxlength="5", readonly )
                span
            label 현재 비밀번호*
                input(placeholder="8~20 영문, 숫자", name="currentPW", type="password", required, minlength="8", maxlength="20")
                span
            label 비밀번호*
                input(placeholder="8~20 영문, 숫자", name="password", type="password", minlength="8", maxlength="20", pattern="^([a-zA-Z0-9!@#$%^&*]){8,20}$")
                span
            label 비밀번호 확인*
                input(placeholder="위와 동일하게 입력", name="password2", type="password", minlength="8", maxlength="20", pattern="^([a-zA-Z0-9!@#$%^&*]){8,20}$")
            label 전화번호*
                input(value=`${loggedInUser.phoneNumber}`, placeholder="11자리 숫자", name="phoneNumber", type="tel", required, pattern="[0-9]{11}")
                span
                    small ("-" 없이 숫자만)
            label 차량번호*
                input(value=`${loggedInUser.plateNumber}`, placeholder="ex)서울00가0000", name="plateNumber", type="text", required, minlength="7", maxlength="10")
            input(type="submit", value="수정하기")
    div.notice
        div
            small 아이디 찾기 기능은 별도로 지원하지 않습니다. 잊지 않게 주의해주세요.
        div
            a(class="deleteUser", href=`/user/delete/${loggedInUser._id}`) 회원 탈퇴 →
block scripts 
    script(src="/static/js/editProfile.js")